<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>영화 정보</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
<div class="container">
  <h1 class="heading">영화 평가</h1>
    {% for movie in movies %}
        <div class="movie-item">
            <img src="{{movie.img_url}}" alt="포스터" class="poster">
            <div class="title">{{movie.title}} <span class="release_date">{{movie.year}}</span></div>
            <div class="rating">
                {% set stars = '⭐' * movie.rating | int %}
                <label>{{ stars }} {{movie.rating}}</label>
            </div>
            <p class="review">{{movie.review}}</p>
            <a href="{{url_for('rate_movie', id=movie.id)}}" class="button">업데이트</a>
            <a href="{{url_for('delete', id=movie.id)}}" class="button delete-button">삭제</a>
        </div>
    {% endfor %}
</div>
<div class="container text-center add">
    <a href="{{url_for('add')}}" class="button">영화 추가</a>
</div>
</body>
</html>
